Source: dasom-qt
Section: utils
Priority: optional
Maintainer: Hodong Kim <hodong@cogno.org>
Build-Depends: debhelper,
               dh-autoreconf,
               libglib2.0-dev,
               pkg-config,
               libqt4-dev,
               qtbase5-dev,
               qtbase5-private-dev,
               dasom (>= 1.1)
Standards-Version: 3.9.4
Homepage: https://github.com/dasom-im/dasom-qt

Package: dasom-qt
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt IM modules for Dasom
 dasom-qt provides Qt4, Qt5 IM modules for Dasom
